services:
  api:
    build:
      context: ./api
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - ./api/.env

  db:
    build:
      context: ./db
    ports:
      - "6379:6379"
